*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: url("https://cdn.pixabay.com/photo/2014/08/11/21/39/wall-416060_960_720.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}
.nav{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    
}
.icon{
    width: 500px;
    padding-top: 40px;
    padding-left: 130px;
    float: left;
}
.logo{
    color: skyblue;
    font-family: 'Times New Roman';
}
.menu{
    width: 800px;
    float: left;
}
.menu ul{
    margin-left: 200px;
    padding-top: 43px;
    display: flex;
}
.menu ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.menu ul li a:hover{
    color: skyblue;
}
.hover-line li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    transition: 0.3s;
    background-color: skyblue;
}
.hover-line li:hover::after{
    width: 100%;
    transition: 0.3s;
}
.content{
    width: 100%;
    text-align: center;
    margin-top: 15%;
}
.heading{
    color: white;
    font-size: 60px;
    padding-bottom: 10px;
    font-weight: bold;
}
.para{
    color: white;
    padding-bottom: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid skyblue;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}
span{
    background: blue;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
    left: 0px;
    bottom: 0px;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
